.goalsMainDiv{
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;   
    background: #f3f8ff;
}
.sectionOneTitle{
    color:#1E3E6B !important;
    text-decoration: none;
    margin-top: 30px; 
}
.sectionOne{
    width: 40%;
    height: 100vh;
}
.sectionTwo{
    width: 60%;
    height: 100vh;
    color:white;
    background:#f3f8ff;;
    padding: 40px 40px 40px 40px;
}
.sectionOne_subContent{
    width: 100%;
    height: 50%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.sampleGoalDiv{
    width: 250px;
    height: 60px;
    margin: 20px 5px 5px 30px;
    background: #fff;
    text-align: center;
}
.sectionTwo_subContent{
    width: 100%;    
    height: 100%;  
    max-height: 1000px;   
    display: block;
    justify-content: center;
    color:#000;
    margin: 30px 60px 0 0;
    background:#fff;
    border-radius: 30px;
    padding: 40px 40px 40px 40px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
 }
 .sectionTwo_subContent::-webkit-scrollbar{
    display: none;
}
 .reports{
    width:95%;
    color:black;
    display:flex;  
    flex-flow: row wrap;
   
}

 .formText{   
   color:black;
   display: flex;
   justify-content: left;
}
.formCheckBtn{   
    width: 80px;
    height: 30px;
    color:black;
    display: block;
    justify-content: left;
    cursor: pointer;
    padding: 0px;
    margin-left: 30px;
 }
.inputField{
    width:100%;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px; 
    font-family: "Lato", sans-serif;
    padding: 0 0 0 12px;
    background: #f3f3f5;
    margin: 25px auto 0px auto;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #f3f3f5;
    box-sizing: border-box;
    outline: none;
    resize: horizontal;
}
.inputField:focus{
    background: #FFFFFF;
}
.inputFieldTextArea{
    width:100%;
    height: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px; 
    font-family: "Lato", sans-serif;
    padding: 0 0 0 12px;
    background: #f3f3f5;
    margin: 25px auto 0px auto;
    resize:vertical;
}
.continueBtn{
    background: #1479ff ;
    color:white !important;
    width: 140px;
    height:38px;    
    border-radius: 4px;
    font-size: 15px;
    margin-left: 10px; 
    border: none;
}
.continueBtn:hover{
    background: white ;
    color:black !important;
    border: #1479ff solid 1px;
}
.imageWrapper{
    width: 284px; 
    height:284px;
    margin: 5px 0px 0px 5px;
    border-radius: 5px;
    position: relative;
}
.visionImages{
    width: 284px; 
    height:284px;
    margin: 5px 0px 0px 5px;
    border-radius: 5px;  
}
