.totalChart{
    margin:auto
}
.totalChartNumber{
    font-size: 65px;
    color: #14d2ff;
    font-weight: 900;
    margin: 0;
    padding:0;
}
.goalsCreated{
    color: #c9c9c9;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    padding:0;
}
.chartBox{
    background:#fff;
    width: 50%;
    min-width:150px;
    height: 200px;
    border: 3px dashed #CADFFD;
    margin:20px;
    border-radius: 30px;
    color: #737373;
    display:block;
    min-width: 250px;
    font-size: 11px
}
.pieChartLabel{
    color: #989696;
    padding-top: 8px;
    margin: -25px auto 0 auto;
    font-size: 11px  
}