.logo{
    color:#1479ff;
    font-weight: bold;
    font-size: 22px;
}
.mainDiv{
    width: 105px;
    height: 100%;
    min-height: 650px;
    background:white;
    display:block;
    position: fixed;
    flex-flow:column;
}
.contentOne{
    width: 105px;
    height: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    display:flex;
    position:absolute;
    flex-flow:column;
    justify-content: space-between;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
}
.contentTwo{
    display:flex;
    position:absolute;
    flex-flow:column;
    width: 105px;
    height: 160px;
    color:black !important;
    background-color: #fff; 
    text-align: center;
    bottom: 0;
}
.logoutBtn{
    border:transparent;
    background:transparent;
}
.logoutIcon{
    color: #1479FF ;
}
.logoutIcon:hover{
    color: red;
    cursor: pointer;
}
.toolbarUserName{
    font-size: 14px !important;
}
.contentOneBtns {
    color: #1479FF;
    cursor: pointer;
    width:40px;
    height: 40px;
    padding: 5px 5px 5px 5px;
}
.contentOneBtns:hover {
    text-decoration: none;
    color: #fff;
}

.iconArea{
    height: 70px;
    width: 100%;
    margin: 0 auto 0 auto;  
}

.iconBubble{
    background-color: #f3f8ff;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin: 0 auto 0 auto;
    text-align: center;
    border: #dae9ff solid 1px;
}

.iconBubble:hover{
    background-color: #1479FF;
    color: #fff;
}

.iconText{
    font-size:11px;
    background-color: #fff;
}
.activePage{
    background-color: #f3f8ff;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin: 0 auto 0 auto;
    text-align: center;
    border: #1479FF solid 1px;
}
.activePage:hover{
    background-color: #1479FF;
    color: #fff;
}