.dashboardMainDiv{
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;   
    background: #f3f8ff;
}
.sectionOne{
    width: 30%;
    height: 100%;
    display:flex;
    flex-direction: column;  
   
    
}
.sectionOne_subContent{
    width: 100%;
    height: 80%;
    padding: 10px;
    margin-top: 55px;
    overflow:auto;
    
 }
.sectionTwo{
    width: 70%;
    height: 100%;
    color:white;
    background:#f3f8ff;
    padding:20px;
   
}
.sectionTwo_subContent{
    width: 100%;
    display: flex;
    flex-flow: row;      
    justify-content: center;
    margin: 0px 0 40px 0;
    padding-top: 50px; 
 }
.reports{
    background:#fff!important;
    width:100%;
    min-width:600px;
    height: 550px;
    display: block;
    border-radius: 30px;
    color:#1E3E6B !important;
    padding-top: 10px;
    box-shadow: 0 4px 4px 0 #CADFFD, 0 6px 20px 0 #CADFFD;
}
.reportTitle{
    color:#1E3E6B !important;
    font-size: 30px !important;

  
}
.rowChart{
    width: 100%;
    display: flex;
}

.goalsSection{
    margin-top: 40px;
    background:#fff!important;
    width:100%;
    min-width:600px;
    height: 550px;
    display: block;
    border-radius: 30px;
    color:black !important;
    padding-top: 10px;
    box-shadow: 0 4px 4px 0 #CADFFD, 0 6px 20px 0 #CADFFD;
    overflow:auto;

}
