.container{
    width:100%;
    min-width: 410px;
    height: 100%;
    background:#1E3E6B;
}
.title{
    color:#fff!important;
    padding-top: 50px;
    padding-bottom: 15px;
    margin: 0px;
    font-family:cursive;
}
.imageContainer{
    width:100%;
    min-width: 410px;
    display:flex;  
    flex-flow: row wrap;
}
.imageWrapper{
    width: 284px; 
    height:284px;
    margin: 5px 0px 0px 5px;
    border-radius: 5px;
    position: relative;
    
}
.visionImages{
    width: 284px; 
    height:284px;
    margin: 5px 0px 0px 5px;
    border-radius: 5px;  
}
.visionImages:hover {  
    cursor: pointer;
    transform: scale(1.02);
    transition: .5s ease;     
    opacity: 0.5;
    
 }
 .textDiv{
     width: 100%;
     padding-top: 30%;
 }
 .textOne{  
    font-weight: 400;
    text-align: center;    
    color:grey !important; 
    font-size: 20px;
    margin: 0px;
}
 .textTwo{  
    font-weight: 400;
    text-align: center;    
    color:grey!important; 
    font-size: 30px;
    margin: 0px;
}
 .deleteBtn{  
    position: absolute;
    top: 0%;
    width: 278px;
    height: 278px;  
    transform: translate(-48%, 3%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;    
}
.deleteBtn:hover{
    color: #fff;
    font-size: 165px;
    font-weight: 980;
    opacity: 0.5;
}
.continueBtn{
    background: #1479ff ;
    color:white !important;
    width: 120px;
    height:38px;    
    border-radius: 4px;
    font-size: 15px;
    margin-top: 5%;
}
.continueBtn:hover{
    background: white ;
    color:black !important;
    border: #1479ff solid 1px;
}
