ul {
    list-style: none;
  }
  
  ul li {
    padding-bottom: 40px;
    position:relative
  }
  
  ul li span {
    border-radius: 50%;
    border: 1px dashed black;
    padding: 5px 10px;
    margin-right: 10px;
    background:#fff
  }
  ul li span:before{
    content:'';
    position:absolute;
    border-left:1px solid ;
    left:14px;
    bottom:0;
    z-index:-1;
    height:100%
  }
  
  ul li:last-child span:before{
   content:none;
  }
  ul li:last-child{
    padding-bottom:0
  }