.visionBoardMainDiv{
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;   
    background: grey;
}
.imagesList{
    width:50%;     
}
.selectedImagesList{
    width:50%; 
    
}

