.visionBoardMainDiv{
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;   
    background: grey;
}

.imagesList{
    width:50%;    
    
}
.selectedImagesList{
    width:50%; 
    Background:black;   
    
}
.title{
    margin-top: 15%;
    margin-left: 60%;
    position:absolute;
    top: 0px;
    left: 0px;
    font-weight: 400;
    text-align: left;    
    color:white !important; 
    font-size: 40px;
}
.backButton{
    width:80px;
    font-size: 27px;
    margin: auto;
    padding: 2px;
    justify-content: center;
    text-decoration: none;
    color:#007bff;
}
.backButton:hover{
    color:blue;
    text-decoration:underline;
}