.sectionOneTitle{
    color:#1E3E6B !important;
    text-decoration: none;
    margin: 45px auto 0px auto;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 700;
}
.sectionOneTitleText{
    padding-top: 0px;
   margin: 10px 0 0 0;
}
.container{
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column; 
    background-color: #f3f8ff;  
}
.sectionOne{
    width: 100%;
    height: 207px;  
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background: #f3f8ff;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titlediv{
    width: 100%;
    min-width:365px;
}
.createGoalBtnDiv{
    display: flex;
    
}
.createGoalBtn{
    background: #14d2ff ;
    color:white !important;
    width: 68px;
    height:27px;    
    border-radius: 8px !important;
    padding: 10px;   
    margin-top:138px;
    margin-left:5px;
    
}
.createGoalBtn:hover{
    background: white ;
    color:#1479ff !important;
    border: #1479ff solid 1px;
}
.completeBtn{
    background: #14d2ff ;
    color:white !important;
    width: 140px;
    height:47px;    
    border-radius: 8px !important;
    padding: 5px;   
    margin-top:138px;
    font-size: 15px;
    border: none;
}
.completeBtn:hover{
    background: white ;
    color:#1479ff !important;
    border: #1479ff solid 1px;
}
.sectionTwo{
    width: 100%;
    min-width: 600px;
    height: 100%;  
    padding-top: 15px;
    padding-left: 200px;
    padding-right: 200px;
    background: #f3f8ff; 
}

.accordionMainDiv{
    width: 100%;
    min-width: 600px;
    margin-bottom: 20px;
}
.accodian{
    width:100%;
    min-width: 600px;
    display:flex;
    flex-direction: row;
    justify-content: center; 
    border-radius: 20px !important;      
}
.accordion-item{
    width:100%;
    min-width: 600px;
    border-radius: 20px !important;
    background-color: #fff;
}
.accordionBtnDiv_One{
    display:flex;
    padding:0px; 
    border-radius: 20px !important;
    background: #fff;
}
.accordionBtnDiv_Two{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    padding-right: 0px;
    padding-top: 25px;
    
}
.accordion-button{
    text-align: center;
    box-shadow: none;
    outline: none; 
    padding:0px;
    border-radius: 20px !important;
} 
.accordion-button:not(.collapsed){
    box-shadow: none;
    outline: none;
    border-radius: 20px !important;
    background-color: transparent !important;
    padding-right:20px;
} 
.accordionContents{
    width:96%;
    height: 116px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    border-radius: 20px !important; 
    background-image: linear-gradient(to right, #549bff,#bbd4f7, #fff) !important;
    padding: 8px;
}
.goalImage{
    padding-left: 0px;
}
.heading{
    width:100%;
    height: 80px;
    text-align: left;
    color:rgb(56, 56, 56) !important;
    font-size: 16px !important;
    font-weight: 700;
    padding-top: 30px;    
    padding-bottom: 10px;
    margin-left: 25px;
}
.editIconBtns {
    color: black !important;
    cursor: pointer;
    width:26px;
    height: 26px;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
}
.editIconBtns:hover {
    text-decoration: none;
    color: #1479FF !important;
}
.deleteIconBtns {
    color: black !important;
    cursor: pointer;
    width:26px;
    height: 26px;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
}
.deleteIconBtns:hover {
    text-decoration: none;
    color: red !important;
}
.tickIconBtns {
    color: grey !important;
    cursor: pointer;
    width:60px;
    height: 36px;
    padding: 5px 5px 5px 5px;
}

.tickIconBtns:hover {
color: #2BD01D !important;
} 
.tickIconBtns_completed{
    color: #2BD01D !important;
    cursor: pointer;
    width:60px;
    height: 36px;
    padding: 5px 5px 5px 5px;
}

.createdAtDate{
    margin: 30px 0 0 0;
}

.completedAtDate{
    margin: 5px 0 0 0;
}

.privacy{
    margin: 5px 0 0 0;
}